 /*Style for "Header" 
width: 1020px;
height: 63px;
background-color: #323232;*/

 /*Style for "gallery" 
width: 1020px;
height: 1732px;
background-color: white;*/

 /*Style for "about" 
width: 1020px;
height: 341px;
background-color: #2eb398;*/

 