.navbar-inverse .navbar-nav li a{ color:orange;
                                  font-size: 20px;
                                  font-weight: bold;
}

.info{background-color: #109F7F;
      height: 150px;
}

h4{font-weight: bolder;}





.row-footer{
    padding: 20px 0px 20px 0px;
    background-color: grey;
    height: 200px;
}



.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #798FFB ;
    color:;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

body{  background-color: #AfAfAf;}

.navbar-inverse {
     background: #109F7F;
}
