//Style for "about" 
 .about{
width: 100%;
background-color: #2eb398;
font-family: var(--primary-font);
padding: 20px;
}

.about-dev-1, .about-dev-2 {
    margin: 2em auto;
}

.dev-name {
    font-size: 1.5em;
    color: #fff;
    text-align: center;
}

.dev-details p {
  text-align: center;
}

.dev-blurb {
    color: #fff;
    text-align: justify;
}

.hexagon {
//   background-image: url('http://i.imgur.com/IEiqEV0.jpg');
  background-color: #fff;
  background-position: center center;
  z-index: 1;
  /* Text styling */
  line-height: 110px;
  text-align: center;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 6px;
  color: #fff;
  color: rgba(255,255,255,.5);
  cursor: pointer;
}
.hexagon:hover {
}

.hexagon .face1,
.hexagon .face2 {
  overflow: hidden;
  background: inherit;
  z-index: -1;
  /* Keeps borders smooth in webkit */
  backface-visibility: hidden;
}
.hexagon .face1:before,
.hexagon .face2:before {
  content: '';
  background: inherit;
}


