// /*Style for "form" 
.contact-section {
    color: white;
    background-color: #323232;
}


::-webkit-input-placeholder {
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-left: 5px;
}

.contact-form{
    color: black;
}

.h4-class{
    color: #999;
    font-size: 15px;
}
.text-form{
    color: #999;
}
  
