// /*Style for "form" 
.contact-section {
    width: 100%;
    color: #fff;
    background-color: #323232;
    font-family: var(--primary-font);
}

.form-input::-webkit-input-placeholder {
    font-size: 1em;
    padding-left: 10px;
    color: #ddd;
}

.h4-class {
    color: #999;
    font-size: 15px;
}

.form-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}

.form-input {
    color: #eee;
    background-color: rgba(255, 255, 255, 0.2);
}

textarea,
.textarea-form {
    font-size: 1em;
    background-color: rgba(255, 255, 255, 0.2);
    color: #eee
}

.submit-form {
    background-color: #2eb398;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 200;
}

 :hover.submit-form {
    background-color: #238975;
}

