// Style for "gallery"
.gallery {
    background-color: blue;
}

.search-bar-container{
    // font-size: 13px;
}

.search-bar-input::-webkit-input-placeholder {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    padding-left: 10px;
   color: #666;
}
.search-bar-input{
    width: 300px;
    color: #555;
}

.cloud-tag{
    background-color: #bbb;
}
