// Style for "gallery"
.gallery {
    background-color: #fff;
    font-family: var(--primary-font);    
}

.search-bar-container {
    // font-size: 13px;
    height: 300px
}

.search-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-height: 400px;
}

.search-bar-input::-webkit-input-placeholder {
    font-size: 15px;
    padding-left: 10px;
    color: #666;
    font-size: 1.2em;
}

.search-bar-input{
    width: 100%;
    color: #555;
    background-color: var(--green-color);
    border: none;
    height: 2em;
    color: #fff;
    font-size: 2em;    
    padding-left: 10px;    
}

.search-label {
    font-size: 2em;
}

.search-button {
    background-color: #fff;
    border: 2px solid var(--green-color);
    margin: 10px auto;
    font-size: 2em;
    width: 150px;
    &:hover {
        cursor: pointer;
        background-color: var(--green-color);
        color: #fff;
    }
}

.cloud-tag{
    background-color: #fff;
}



.list-tags{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

li{
    padding:5px;
}

.list-tags li:hover {
    cursor: pointer;
    color: var(--green-color);
}
