.justify-left {
    text-align: left;
}

.justify-center {
    text-align: center;
}

.justify-right {
    text-align: right;
}

.text-shadow {
    text-shadow: 1px 3px 2px rgba(150, 150, 150, 1);
}

.editor {
    margin: 0 auto;
    // width: 600px;
    text-align: center;
}

.result {
    width: 400px;
    margin: auto;
    text-transform: uppercase;
    float: right;
}

.editors {
    display: flex;
    flex-direction: column;
    width: 100%;
    // height: 450px;
    // justify-content: space-between;
    flex-wrap: wrap;
    font-family: var(--primary-font);
    margin-top: 20px;
    margin-bottom: 20px;
}

.text-editor-input {
    border:2px solid var(--green-color);
    background-color: #fff;
    width: 100%;
    height: 3em;
}

.editor-button {
    border: 2px solid var(--green-color);
    background-color: #fff;
    color: var(--green-color);
    &:hover {
        background-color: var(--green-color);
        color: #fff;
    }
}

.result-box {
    width: 50%;
    float: right;
    margin: 0 auto;
    padding-left: 110px;
}

.boxes {
    display: flex;
    flex-direction: column;
}

.download-meme-button {
    width: 50%;
    background-color: var(--green-color);
    color: #fff;
    margin: 20px auto;
    text-decoration: none;
    text-align: center;
    height: 40px;
    font-size: 2em;
    &:hover{
        cursor: pointer;
    }
}